.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.box{
  height: auto;
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 10px;
}
.authorcss{
  padding: 20px;
}